@model ZoipSwitch.Models.operators

@{
    Layout = null;
}

<div>
    <table class="table table-striped details">
        <tr>
            <td class="col-xs-4 border-box" style="font-weight:bold; text-align:right">@Html.DisplayNameFor(model => model.name)</td>
            <td class="col-xs-8 border-box">@Html.DisplayFor(model => model.name) @Html.DisplayFor(model => model.lastname)</td>
        </tr>
        <tr>
            <td class="col-xs-4 border-box" style="font-weight:bold; text-align:right">@Html.DisplayNameFor(model => model.ext)</td>
            <td class="col-xs-8 border-box">@Html.DisplayFor(model => model.ext)</td>
        </tr>
        <tr>
            <td class="col-xs-4 border-box" style="font-weight:bold; text-align:right">@Html.DisplayNameFor(model => model.birthdate)</td>
            <td class="col-xs-8 border-box">@Html.DisplayFor(model => model.birthdate)</td>
        </tr>
        <tr>
            <td class="col-xs-4 border-box" style="font-weight:bold; text-align:right">@Html.DisplayNameFor(model => model.phone)</td>
            <td class="col-xs-8 border-box">@Html.DisplayFor(model => model.phone)</td>
        </tr>
        <tr>
            <td class="col-xs-4 border-box" style="font-weight:bold; text-align:right">@Html.DisplayNameFor(model => model.email)</td>
            <td class="col-xs-8 border-box">@Html.DisplayFor(model => model.email)</td>
        </tr>
    </table>
</div>

