@model IEnumerable<ZoipSwitch.Models.order_status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_status_text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order_status_text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_status_flags }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_status_flags }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_status_flags })
        </td>
    </tr>
}

</table>
