<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #loading .svg-icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
        }
    </style>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="icon" sizes="144x144" href="@Url.Content("~/Images/icons/icon-144.png")">
    <link rel="icon" sizes="114x114" href="@Url.Content("~/Images/icons/icon-114.png")">
    <link rel="icon" sizes="72x72" href="@Url.Content("~/Images/icons/icon-72.png")">
    <link rel="icon" href="@Url.Content("~/Images/icons/icon- 57.png")">
    <link rel="shortcut icon" href="@Url.Content("~/Images/icons/favicon.png")">

    <!-- HELPERS -->
    @Styles.Render("~/Content/helpers/helper")

    <!-- MATERIAL -->
    @Styles.Render("~/Content/material/material")

    <!-- ELEMENTS -->
    @Styles.Render("~/Content/elements/element")

    <!-- ICONS -->
    @Styles.Render("~/Content/icons")

    <!-- WIDGETS -->
    @Styles.Render("~/Content/widgets")
    @RenderSection("Widgets", false)

    <!-- SNIPPETS -->
    @Styles.Render("~/Content/snippets/snippet")

    <!-- APPLICATIONS -->
    @Styles.Render("~/Content/applications/application")

    <!-- Admin theme -->
    @Styles.Render("~/Content/themes")

    <!-- Components theme -->
    @Styles.Render("~/Content/themes/components")

    <!-- Admin responsive -->
    @Styles.Render("~/Content/helpers/responsive")

    <!-- Kendo CSS-->
    @Styles.Render("~/Content/kendo/2017.1.118/kendo-scc")

    <!-- Site CSS -->
    @Styles.Render("~/Content/css")

    <!-- Style Render Section -->
    @RenderSection("Styles", false)

    <!-- JS Core -->
    @Scripts.Render("~/bundles/js-core")

    <!-- Kendo JS -->
    @Scripts.Render("~/bundles/kendo-js")


    <!-- Loader -->
    <script type="text/javascript">
        $(window).load(function(){
            setTimeout(function() {
                $('#loading').fadeOut( 400, "linear" );
            }, 300);
        });
    </script>
</head>
<body>
    <div id="sb-site">
        <div id="loading">
            <div class="svg-icon-loader">
                <img src="@Url.Content("~/Images/svg-loaders/bars.svg")" width="40" alt="">
            </div>
        </div>
        <div id="page-wrapper">
            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
            </div>
            <div id="page-sidebar">
                <div id="header-logo" class="logo-bg">
                    <a href="@Url.Action("Index", "Home")" class="logo-content-big" title="DelightUI">
                        ZoIP <i>Switch</i>
                        <span>Dashboard</span>
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="logo-content-small" title="DelightUI">
                        ZoIP <i>Switch</i>
                        <span>Dashboard</span>
                    </a>
                    <a id="close-sidebar" href="#" title="Close sidebar">
                        <i class="glyph-icon icon-outdent"></i>
                    </a>
                </div>
                <div class="scroll-sidebar">
                    <ul id="sidebar-menu">
                        <li class="header"><span>Main Menu</span></li>
                        <li>
                            <a href="@Url.Action("Datatable", "Home")" title="Datatable">
                                <i class="glyph-icon icon-elusive-th"></i>
                                <span>Datatable</span>
                            </a>
                        </li>
                        <li class="header"><span>Management</span></li>
                        <li>
                            <a href="javascript:void(0);" title="Elements">
                                <i class="glyph-icon icon-briefcase"></i>
                                <span>Case</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li><a href="@Url.Action("Index", "case_statuses")" title="Status"><span>Status</span></a></li>
                                    <li><a href="@Url.Action("", "")" title="Type"><span>Type</span></a></li>
                                    <li><a href="@Url.Action("", "")" title="Urgency"><span>Urgency</span></a></li>
                                    <li><a href="@Url.Action("", "")" title="Department"><span>Department</span></a></li>
                                </ul>
                            </div><!-- .sidebar-submenu -->
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="Elements">
                                <i class="glyph-icon icon-bolt"></i>
                                <span>Action</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li><a href="@Url.Action("", "")" title="Category"><span>Category</span></a></li>
                                    <li><a href="@Url.Action("", "")" title="Type"><span>Type</span></a></li>
                                    <li><a href="@Url.Action("", "")" title="Status"><span>Status</span></a></li>
                                </ul>
                            </div><!-- .sidebar-submenu -->
                        </li>
                        <li>
                            <a href="@Url.Action("", "")" title="Resident">
                                <i class="glyph-icon icon-users"></i>
                                <span>Resident</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("", "")" title="Operator">
                                <i class="glyph-icon icon-elusive-headphones"></i>
                                <span>Operator</span>
                            </a>
                        </li>
                    </ul><!-- #sidebar-menu -->
                </div>
            </div>
            <div id="page-content-wrapper">
                <div id="page-content">
                    <div id="page-header">
                        <div id="header-nav-left">
                            @*@Html.Partial("_LoginPartial")*@
                        </div>
                        <div id="header-nav-right">
                            <h3 class="header-title">@ViewBag.Title</h3>
                        </div>
                    </div><!-- #header-nav-right -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- WIDGETS -->
    @Scripts.Render("~/bundles/widgets-js")

    <!-- Widgets init for demo -->
    @Scripts.Render("~/bundles/js-init")

    <!-- Theme layout -->
    @Scripts.Render("~/bundles/themes-js")

    <!-- Site JS -->
    @Scripts.Render("~/bundles/site")

    <!-- Render Scripts Section -->
    @RenderSection("Scripts", required: false)
</body>
</html>
