@model ZoipSwitch.Models.vwCases
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Cases";
}
<div class="clear"></div>
<div class="for-Toolbar">
    @(Html.Kendo().ToolBar()
    .Name("ToolBar")
    .Items(items =>
    {
        items.Add().Template("<button class=\"btn btn-alt btn-hover btn-success toolBtn\" onclick=\"return Create(); \"><span>Create</span><i class=\"glyph-icon icon-plus\"></i></button>");
        items.Add().Template("<button class=\"btn btn-alt btn-hover btn-info toolBtn\" onclick=\"return Excel(); \"><span>Export to Excel</span><i class=\"glyph-icon icon-file-excel-o\"></i></button>");

        //items.Add().Template("<a class=\"k-button k-button-icontext k-grid-excel\" href=\"#\"><span class=\"k-icon k-i-excel\"></span>Export to Excel</a>");
        //items.Add().Template("<button class=\"btn btn-alt btn-hover btn-info toolBtn\" onclick=\"return Details(); \"><span>Details</span><i class=\"glyph-icon icon-list-ul\"></i></button>");
    })
    )
    @* Search Panel - Right Slide *@
    <div class="right-slidePanel">
        <div class="slidePanel-Content">
            <div class="slidePanel-btn">
            </div>
            <div class="slidePanel-Content-fields">
                <h4>Search</h4>
                <div class="form-group margin-5-0">
                    <input id="prm_action_types_name" class="k-textbox" placeholder="name" />
                </div>
                <div class="form-group btns align-right">
                    <button class="btn btn-alt btn-hover btn-default" type="submit" id="rtSearch" onclick="return Search();">
                        <span>Search</span>
                        <i class="glyph-icon icon-search"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-default" type="submit" onclick="return Clear();">
                        <span>Clean</span>
                        <i class="glyph-icon icon-elusive-cancel-circled2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Search() {
        $("#cases").data("kendoGrid").dataSource.read();
        $("#cases").data("kendoGrid").refresh();
        return false;
    }

    function Clear() {
        $("#prm_action_types_name").val("");
        $("#cases").data("kendoGrid").dataSource.read();
        $("#cases").data("kendoGrid").refresh();
        return false;
    }

    function getParameter() {
        return {
            name: $("#prm_action_types_name").val()
        };
    }
</script>


@(Html.Kendo().Grid<ZoipSwitch.Models.vwCases>()
                        .Name("cases")
                        .Columns(columns =>
                        {
                            columns.Bound(model => model.case_id).Width(75);
                            columns.Bound(model => model.case_status_name).Width(100);
                            columns.Bound(model => model.case_type_name).Width(130);
                            columns.Bound(model => model.case_urgency_name).Width(130);
                            columns.Bound(model => model.case_department_name);
                            columns.Bound(model => model.start_date).Width(120);
                            columns.Bound(model => model.end_date).Width(120);
                            columns.Bound(model => model.creator_operator_name).Width(200);
                            columns.Bound(model => model.completing_operator_name).Width(200);
                            columns.Command(commands =>
                            {
                                commands.Custom("Update").Text(" ").Click("Update");
                                commands.Custom("Delete").Text(" ").Click("Delete");
                            }).Title("Commands").Width(110);
                        })
                        .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
                        .Events(e => e.DataBound("onRowBound"))
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Scrollable()
                        .Groupable()
                        //.Mobile(MobileMode.Tablet)
                        .Excel(excel => excel
                            .FileName("Cases.xlsx")
                            .Filterable(true)
                            .ProxyURL(Url.Action("Excel_Export_Save", "cases")))
                        .ClientDetailTemplateId("template")
                        .Resizable(resize => resize.Columns(true))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Sortable()
                        //.HtmlAttributes(new { style = "height:620px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("Read", "cases").Data("getParameter"))
                        .PageSize(15)
                        .Model(model => model.Id(p => p.case_id))
                        
)
)
@(Html.Kendo().Window().Name("crtWindow")
            .Draggable()
            .Resizable().Content("")
            .Modal(true)
            .Actions(actions => actions.Pin().Close())
            .Visible(false)
            .Events(events => events
            .Close("onClose").Open("onOpen").Refresh("onRefresh"))
)

@(Html.Kendo().Window().Name("window")
            .Draggable()
            .Resizable().Content("")
            .Modal(true)
            .Actions(actions => actions.Pin().Close())
            .Visible(false)
            .Events(events => events
            .Close("onClose").Open("onOpen").Refresh("onRefresh"))
)

<script>
    function Create() {
        var window = $("#crtWindow").data("kendoWindow");
        window.content("");
        window.title("Create");
        window.refresh({
            url: "@Url.Action("Create", "cases")"
        });
    window.center();
    window.maximize().open();
    return false;
    }

    function Update(e) {
        var window = $("#crtWindow").data("kendoWindow");
        var row = $(e.target).closest("tr");
        var grid = $("#cases").data("kendoGrid");
        var dataItem = grid.dataItem(row);
        window.content("");
        window.title("Edit");
        window.refresh({
            url: "@Url.Action("Update", "cases")" + "/" + dataItem.case_id
        });
    window.center();
    window.maximize().open();
    return false;
    }

    function Delete(e) {
        var row = $(e.target).closest("tr");
        var grid = $("#cases").data("kendoGrid");
        var dataItem = grid.dataItem(row);
        var r = confirm("Are you sure you want to delete this record?");
        if (r == false) {
            return false;
        }
        var rt = false;
        var dt;
        var q = $.ajax({
            url: '@Url.Action("Delete", "cases")',
            dataType: "json",
            type: "GET",
            data: {
                id: dataItem.case_id
            },
            async: false,
            success: function(data) {
                dt = data;
                rt = true;
            },
            error: function(xhr) {
                dt = xhr;
                rt = false;
            }
        });
        if (rt == true) {
            $("#cases").data("kendoGrid").dataSource.read();
            $("#cases").data("kendoGrid").refresh();
        } else {
            alert(dt);
            return false;
        }
        return false;
    }

    function Excel() {
        $("#cases").getKendoGrid().saveAsExcel();
       }

    function Details() {
        var window = $("#window").data("kendoWindow");
        var grid = $("#cases").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {
            alert("No item selected");
            return false;
        }
        window.content("");
        window.title("Details");
        window.refresh({
            url: "@Url.Action("Details", "cases")" + "/" + selectedItem.case_id
        });
        window.center();
        window.open();
    }

    function onOpen(e) {
        kendo.ui.progress(e.sender.element, true);
    }
    function onClose() {
        $("#cases").data("kendoGrid").dataSource.read();
        $("#cases").data("kendoGrid").refresh();
    }
    function onRefresh(e) {
        kendo.ui.progress(e.sender.element, false);
    }
</script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
          .Name("tabStrip_#=case_id#")
          .SelectedIndex(0)
          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
          .Items(items =>
          {
          items.Add().Text("Actions").Content(@<text>
        @(Html.Kendo().Grid<ZoipSwitch.Models.vwAction>()
              .Name("Cases_#=case_id#")
              .Columns(columns =>
              {
                  columns.Bound(product => product.action_id).Hidden();
                  columns.Bound(product => product.date).Width(150);
                  columns.Bound(product => product.action_category_name).Width(130);
                  columns.Bound(product => product.action_type_name).Width(150);
                  columns.Bound(product => product.action_status_name).Width(130);
                  columns.Bound(product => product.resident).Width(200);
                  //columns.Bound(product => product.resident_lastname);
                  columns.Bound(product => product.operatoe_name).Width(200);
                  //columns.Bound(product => product.lastname);
                  columns.Bound(product => product.file).Width(70);
                  columns.Bound(product => product.description);
              })
             .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(5)
                      .Read(read => read.Action("ReadvwActions", "actions", new { id = "#=case_id#" }))
                      .Model(model =>
                      {
                          model.Id(p => p.action_id);
                      }
                      )
                  )
                  .Scrollable()
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true))
                  .Pageable()
                  .Sortable()
                  .ToClientTemplate()
        )
        </text>);
          })
            .ToClientTemplate())
</script>
