@model ZoipSwitch.Models.action_categories

@{
    Layout = null;
}

<div class="create-item">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.action_category_id)

    <div class="form-group margin-5-0">
        @Html.LabelFor(model => model.action_category_name, htmlAttributes: new { @class = "control-label align-right" })
        @Html.EditorFor(model => model.action_category_name, new { htmlAttributes = new { @class = "k-textbox" } })
        @Html.ValidationMessageFor(model => model.action_category_name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group margin-5-0 align-right">
        <button class="btn btn-alt btn-hover btn-default" id="dtSave">
            <span>Save</span>
            <i class="glyph-icon icon-floppy-o"></i>
        </button>
        <button class="btn btn-alt btn-hover btn-default" id="dtCancel">
            <span>Close</span>
            <i class="glyph-icon icon-elusive-cancel-circled2"></i>
        </button>
    </div>
    <div class="clear"></div>
</div>

<script>

    $(document).ready(function () {

        $("#dtCancel")
            .click(function () {
                if ($(this).closest(".k-window-content").data("kendoWindow"))
                    $(this).closest(".k-window-content").data("kendoWindow").close();
            });
        $("#dtSave")
            .click(function (e) {

                var item = new Object();
                item.action_category_id = $("#action_category_id").val();
                item.action_category_name = $("#action_category_name").val();

                var rt = false;
                var dt;
                var q = $.ajax({
                    url: '@Url.Action("Save", "action_categories")',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ action_categories: item }),
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        dt = data;
                        rt = true;
                    },
                    error: function (xhr) {
                        dt = xhr;
                        rt = false;
                    }
                });
                if (rt == true) {
                    if (dt != "1") {
                        alert(JSON.stringify(dt));
                    }
                    else {
                        if ($(this).closest(".k-window-content").data("kendoWindow"))
                            $(this).closest(".k-window-content").data("kendoWindow").close();
                    }
                }
                else {
                    alert(dt);
                    return false;
                }

            });
    });
</script>


